.Button {
  height: 5%;
  /*  margin-top: 2%; */
}

.Button button {
  width: 10%;
  border: none;
  height: 100%;
  background-color: #21a026;
  color: white;
  font-size: 15pt;
}

.Button button:disabled {
  background-color: #949a94;
  color: #524d4d;
}
