.Card {
  display: flex;
  flex-direction: column;
  border: 3px solid white;
  padding: 0 10px 10px 10px;
  color: white;
  margin-bottom: 2%;
}

.CardLabel {
  margin-bottom: 10px;
  font-size: 18pt;
  font-family: cursive;
}

.CardButtons {
}

.Card button {
  width: 50%;
  margin-top: 2%;
}

.Card img {
  width: 100%;
}
