.CardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

.CardContainer .BackContainer {
  width: 100%;
}

.CardContainer .BackContainer button {
  float: left;
}
